#nodo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.intercambio{
    animation: animacionADerecha 4s linear;
}
.intercambioInverso{
    animation: animacionAIzquierda 4s linear;
}

@keyframes animacionADerecha{
    0% {left: 0px; top: 0px;}
    10% {top:100px; left: 0px;}
    20% {top:100px; left: 110px;}
    30% {top:0px; left: 110px}
    100% {top:0px; left: 110px;}
}
@keyframes animacionAIzquierda{
    0% {left: 0px; top: 0px;}
    10% {top:100px; left: 0px;}
    20% {top:100px; left: -110px;}
    30% {top:0px; left: -110px}
    100% {top:0px; left: -110px;}
}

.pivote{
    animation:movePivote 5s linear;
}

@keyframes movePivote{
    0% {top: 56px;left: 0px;}
    10% {top: 56px;left: 10%;}
    20% {top: 56px;left: 20%;}
    30% {top:56px;left: 30%;}
    40% {top: 56px;left: 40%;}
    40% {top: 56px;left: 50%;}
    100% {top:56px;left: 50%;}
}

#nodoPivote{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 50%;
}

.nodoIzquierdaDos{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: moveIzquierda 5s linear;
}

@keyframes moveIzquierda{

}

.nodoDerechaDos{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: moveDerecha 5s linear;
}

@keyframes moveDerecha{
    0% {top: 112px;left: 0px;}
    10% {top: 112px;left: 10%;}
    20% {top: 112px;left: 20%;}
    30% {top: 112px;left: 35%;}
    40% {top: 112px;left: 50%;}
    100% {top:112px;left: 90%;}
}

#nodoDerecha{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 90%;
}


/*
@keyframes cosaDeMover{
    0% {top: 0px;}
    12.5% {top: -5px;}
    25% {top: -10px;}
    37.5% {top: -5px;}
    50% {top: 0px;}
    62.5% {top: 5px;}
    75% {top: 10px;}
    87.5% {top: 5px;}
    100% {top: 0px;}
}
*/

#containerArrow,#conteinerNodo{
    width: 50px;
    height: 50px;
}

.animacion{
    animation: moverArrow 1s linear 0s 3;
}
/*
@keyframes moverArrow{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(20deg);}
    50%{transform: rotate(0deg);}
    75%{transform: rotate(-20deg);}
    100%{transform: rotate(0deg);}
}
*/


/*
  Mantiene al footer siempre abajo 
.allwaysBottom{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
} 
*/
.allwaysBottom{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

#valorNodo{
    margin-top: 12%;
    margin-left: 30%;
    height: 30px;
    width: 20px;
}
#valueNodo,#positionNodo{
    height: 38px;
}

#arrow{
    margin-top: 40%;
    background-color: white;
    width: 50px;
    height: 10px;
}

#arrow::after{
    content: '';
    position: absolute;
    background-color: white;
    right: -4px;
    top: 12px;
    width: 30px;
    height: 10px;
    transform: rotate(45deg);
}
#arrow::before{
    content: '';
    position: absolute;
    background-color: white;
    right: -4px;
    bottom: 12px;
    width: 30px;
    height: 10px;
    transform: rotate(-45deg);
}


.error-border{
    border-top-color: red;
    border-bottom-color: red;
    border-right-color: red;
    border-left-color: red;
}
#footer-card,#create{
    overflow: auto;
}

